# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Miscellaneous
.DS_Store
*.pem
*.log

# Local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sensitive files
serviceAccountKey.json

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE files
.idea
.vscode

# Project specific package file
TestOpos.tar.gz
