# dependencies
/node_modules

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# packaged file
TestOpos.tar.gz